extends layout
block content
    if session.user
        div.team-members-container
            table
                tr
                    td
                        span Skills &amp; Ability Levels
                    td
                        span Job Description
                    td
                        span Availability
                    td
                        span Request
                each member in team_members
                    tr
                        td.skills(valign="top")
                            br
                            span.skill-header Expert
                            br
                            span.
                                #{member.data.expert}
                            br
                            span.skill-header Intermediate
                            br
                            span.
                                #{member.data.intermediate}
                            br
                            span.skill-header Basic
                            br
                            span.
                                #{member.data.basic}
                        td(valign="top")
                            span #{member.data.job_title}
                        td(valign="top")
                            span #{member.data.availability_duration.equality} #{member.data.availability_duration.number} #{member.data.availability_duration.unit}
                        td(valign="top")
                            a(href="#dialog", name="modal", onclick="updateModalFields('#{member.data.key}', '#{member.data.manager}', '#{member.data.manager_email}');") Request
        div(id="boxes")
            div(id="dialog", class="window")
                h1 Confirm your request
                div(class="content") Are you sure you want to complete this request?
                div(class="buttons-container")
                    a(id="mail", name="mail")
                    form(method="post", action="/request", id="confirm", name="confirm")
                        input(type="hidden", name="team_member_id", id="team_member_id", value="")
                        input(type="hidden", name="manager", id="manager", value="")
                        input(type="hidden", name="manager_email", id="manager_email", value="")
                        input(type="button", class="cancel-button close", value="Cancel")
                        input(type="submit", class="confirm-button", value="Confirm")
            div(id="mask")
        script.
            function updateModalFields(team_member, manager, manager_email) {
                $("#boxes #dialog #team_member").val(team_member);
                $("#boxes #dialog #manager").val(manager);
                $("#boxes #dialog #manager_email").val(manager_email);
                console.log(manager_email);
            }
    else
        div.error-message-box
            p.
                You must be logged in to use this page.