extends layout
block content
    if session.user
        div.team-members-container
            table
                tr
                    td
                        span Skills &amp; Ability Levels
                    td
                        span Job Description
                    td
                        span Availability
                    td
                        span Request
                each member in team_members
                    tr
                        td.skills(valign="top")
                            br
                            span.skill-header Expert
                            br
                            span.
                                #{member.data.expert}
                            br
                            span.skill-header Intermediate
                            br
                            span.
                                #{member.data.intermediate}
                            br
                            span.skill-header Basic
                            br
                            span.
                                #{member.data.basic}
                        td(valign="top")
                            span #{member.data.job_title}
                        td(valign="top")
                            span #{member.data.availability_duration.equality} #{member.data.availability_duration.number} #{member.data.availability_duration.unit}
                        td(valign="top")
                            a(href="#dialog", name="modal", onclick="resetWindows(); updateModalFields('#{member.data.key}', '#{member.data.manager}', '#{member.data.manager_email}');") Request
        div(id="boxes")
            div(id="dialog", class="window")
                div(id="request-container")
                    h1 Your request
                    div(class="content") Continuing with this request will open your default email client with an email for you to complete and send this team member's manager.
                    div(class="buttons-container")
                        a(id="mail", name="mail")
                        form(method="post", action="/request", id="confirm", name="confirm")
                            input(type="hidden", name="team_member_id", id="team_member_id", value="")
                            input(type="hidden", name="manager", id="manager", value="")
                            input(type="hidden", name="manager_email", id="manager_email", value="")
                            input(type="button", class="cancel-button close", value="Cancel")
                            input(type="button", class="confirm-button", value="Continue", onclick="showConfirmWindow();")
                div(id="confirm-container")
                    h1 Confirm your request
                    div(class="content") Please complete and send the email and press 'Confirm' after you have sent it.
                    div(class="buttons-container")
                        form(method="post", action="/request", id="send-request", name="send-request")
                            input(type="hidden", name="team_member_id", id="team_member_id", value="")
                            input(type="hidden", name="manager", id="manager", value="")
                            input(type="submit", class="cancel-button", value="Confirm")
            div(id="mask")
            script.
                function updateModalFields(team_member, manager, manager_email) {
                    $("#boxes #dialog #team_member").val(team_member);
                    $("#boxes #dialog #manager").val(manager);
                    $("#boxes #dialog #manager_email").val(manager_email);

                    $("#boxes #confirm-modal #team_member").val(team_member);
                    $("#boxes #confirm-modal #manager").val(manager);
                }

                function showConfirmWindow() {
                    $("#request-container").hide();
                    $("#confirm-container").show();
                }

                function resetWindows() {
                    $("#request-container").show();
                    $("#confirm-container").hide();
                }


    else
        div.error-message-box
            p.
                You must be logged in to use this page.