extends layout
block content
    if session.user
        div.add-person-container
            p.header Add Team Member
            form(name="add", id="add", action="/mypeople/add_team_member", method="post")
                div.fields-container
                    div
                        input(type="text", name="first_name", id="first_name", placeholder="First name", required)
                    div
                        input(type="text", id="surname", name="surname", placeholder="Surname", required)
                    div
                        input(type="text", name="job_title", id="job_title", placeholder="Job title", required)
                    div
                        div(data-tags-input-name="expert_skills", id="expertskills")
                    div
                        div(data-tags-input-name="intermediate_skills", id="intermediateskills")
                    div
                        div(data-tags-input-name="basic_skills", id="basicskills")
                    //div Available now?
                        input(type="checkbox", name="availability", id="availability")
                    div(id="availability-container", name="availability-container") Available for
                        br
                        select(name="equality", id="equality")
                            option() More than
                            option() Less than
                            option() Exactly
                        select(name="num", id="num")
                            option() 1
                            option() 2
                            option() 3
                            option() 4
                            option() 5
                            option() 6
                            option() 7
                            option() 8
                            option() 9
                            option() 10
                            option() 11
                            option() 12
                            option() 13
                            option() 14
                            option() 15
                            option() 16
                            option() 17
                            option() 18
                            option() 19
                            option() 20
                        select(name="unit", id="unit")
                            option() Days
                            option() Weeks
                            option() Months
                div.button-container
                    div
                        input(type="submit", value="Add Team Member")
        div
            div.team-members-container
                table(cellspacing="1")
                    tr
                        td.header
                            span Name
                        td.header
                            span Skills &amp; Ability Levels
                        td.header
                            span Job Title
                        td.header
                            span Duration of Availability
                        td.header
                            span Action
                    if !team_members.length
                        td(colspan="5") You haven't added any team members
                    else
                        each member in team_members
                            form
                                tr(id="#{member.key}", class='member-row', onclick="$('##{member.key}').hide(); $('##{member.key}-edit').show();")
                                    td(valign="top", class=(team_member_id === member.key)?'target':'')
                                        span #{member.surname}, #{member.first_name}
                                    td.skills(valign="top", class=(team_member_id === member.key)?'target':'', style="width: 280px;")
                                        if !member.expert && !member.intermediate && !member.basic
                                            span No skills added
                                        if member.expert
                                            div.skill-header Expert
                                            div.skill-content
                                                div(data-tags-input-name="expert_skills_list_#{member.key}", id="expertskillslist-#{member.key}")
                                            script.
                                                var expertSkillsList = '#{member.expert}';
                                                var expertSkills = expertSkillsList.split(',');

                                                $('#expertskillslist-#{member.key}').tagging();
                                                $("#expertskillslist-#{member.key} .type-zone").css("display", "none");

                                                expertSkills.map(function (skill) {
                                                    $('#expertskillslist-#{member.key}').tagging("add", skill);
                                                });
                                        if member.intermediate
                                            div.skill-header Intermediate
                                            div.skill-content
                                                div(data-tags-input-name="intermediate_skills_list_#{member.key}", id="intermediateskillslist-#{member.key}")
                                            script.
                                                var intermediateSkillsList = '#{member.intermediate}';
                                                var intermediateSkills = intermediateSkillsList.split(',');
                                                $('#intermediateskillslist-#{member.key}').tagging();
                                                $("#intermediateskillslist-#{member.key} .type-zone").css("display", "none");
                                                intermediateSkills.map(function (skill) {
                                                    $('#intermediateskillslist-#{member.key}').tagging("add", skill);
                                                });
                                        if member.basic
                                            div.skill-header Basic
                                            div.skill-content
                                                div(data-tags-input-name="basic_skills_list_#{member.key}", id="basicskillslist-#{member.key}")
                                            script.
                                                var basicSkillsList = '#{member.basic}';
                                                var basicSkills = basicSkillsList.split(',');
                                                $('#basicskillslist-#{member.key}').tagging();
                                                $("#basicskillslist-#{member.key} .type-zone").css("display", "none");
                                                basicSkills.map(function (skill) {
                                                    $('#basicskillslist-#{member.key}').tagging("add", skill);
                                                });
                                    td(valign="top", class=(team_member_id === member.key)?'target':'')
                                        span #{member.job_title}
                                    td(valign="top", class=(team_member_id === member.key)?'target':'')
                                        span #{member.availability_duration.equality} #{member.availability_duration.number} #{member.availability_duration.unit}
                                    td(valign="top", class=(team_member_id === member.key)?'target':'')
                                        div
                                            input(type="submit", value="Delete")
                            form(method="POST", action='/mypeople/update_team_member')
                                tr(id="#{member.key}-edit", class='member-row', style="display: none")
                                    td(valign="top", class=(team_member_id === member.key)?'target':'', style="width: 125px;")
                                        div.names-edit-container
                                            input(type="hidden", id="key", value="#{member.key}")
                                            div
                                                input(type="text", id="first_name", value="#{member.first_name}", placeholder="First name")
                                            div
                                                input(type="text", id="surname", value="#{member.surname}", placeholder="Surname")
                                    td.skills(valign="top", class=(team_member_id === member.key)?'target':'', style="width: 250px;")
                                        div.skill-header Expert
                                        div.skill-content-edit
                                            div(data-tags-input-name="expert_skills_list_#{member.key}", id="expertskillslist-edit-#{member.key}")
                                        script.
                                            var expertSkillsList = '#{member.expert}';
                                            var expertSkills = expertSkillsList.split(',');

                                            $('#expertskillslist-edit-#{member.key}').tagging();

                                            expertSkills.map(function (skill) {
                                                $('#expertskillslist-edit-#{member.key}').tagging("add", skill);
                                            });
                                        div.skill-header Intermediate
                                        div.skill-content-edit
                                            div(data-tags-input-name="intermediate_skills_list_#{member.key}", id="intermediateskillslist-edit-#{member.key}")
                                        script.
                                            var intermediateSkillsList = '#{member.intermediate}';
                                            var intermediateSkills = intermediateSkillsList.split(',');
                                            $('#intermediateskillslist-edit-#{member.key}').tagging();
                                            $("#intermediateskillslist-edit-#{member.key} .type-zone").css("display", "none");
                                            intermediateSkills.map(function (skill) {
                                                $('#intermediateskillslist-edit-#{member.key}').tagging("add", skill);
                                            });
                                        div.skill-header Basic
                                        div.skill-content-edit
                                            div(data-tags-input-name="basic_skills_list_#{member.key}", id="basicskillslist-edit-#{member.key}")
                                        script.
                                            var basicSkillsList = '#{member.basic}';
                                            var basicSkills = basicSkillsList.split(',');
                                            $('#basicskillslist-edit-#{member.key}').tagging();
                                            $("#basicskillslist-edit-#{member.key} .type-zone").css("display", "none");
                                            basicSkills.map(function (skill) {
                                                $('#basicskillslist-edit-#{member.key}').tagging("add", skill);
                                            });
                                    td(valign="top", class=(team_member_id === member.key)?'target':'')
                                        div.job-title-edit-container
                                            input(type="text", id="job_title", value="#{member.job_title}")
                                    td(valign="top", class=(team_member_id === member.key)?'target':'')
                                        div.availability-container
                                            span #{member.availability_duration.equality} #{member.availability_duration.number} #{member.availability_duration.unit}
                                    td(valign="top", class=(team_member_id === member.key)?'target':'')
                                        div
                                            input(type="submit", value="Save")

        script.
            var options = {
                "no-duplicate": true,
                "no-duplicate-callback": false,
                "forbidden-chars-callback": false,
                "forbidden-words-callback": false,
                "tag-char": "·",
                "no-spacebar": true
            };
            $("#expertskills").tagging(options);
            $("#expertskills .type-zone").attr("placeholder", "Enter expert skills");

            $("#intermediateskills").tagging(options);
            $("#intermediateskills .type-zone").attr("placeholder", "Enter intermediate skills");

            $("#basicskills").tagging(options);
            $("#basicskills .type-zone").attr("placeholder", "Enter basic skills");


            $(document).ready(function () {
                $(window).keydown(function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });

                $('#availability').click(function() {
                    $('#availability-container').is(":visible")?$('#availability-container').hide():$('#availability-container').fadeIn();
                });

                $('.add-team-member-button').click(function() {
                    $('.add-person-container').fadeIn();
                });

            });

    else
        div.login-logo
            img(src='images/tradingplaces.png')
        div.error-message-box
            p.
                You must be logged in to use this page.
            br
            a.login-link(id="login-link") Login
        script.
            $('#login-link').click(function() {
                window.location = '/?callbackURL=' + document.URL;
            });