extends layout
block content
    if session.user
        div.add-person-container
            p.header Add Team Member
            form(name="add", id="add", action="/mypeople/add_team_member", method="post")
                div.fields-container
                    div
                        input(type="text", name="first_name", id="first_name", placeholder="First name", required)
                    div
                        input(type="text", id="surname", name="surname", placeholder="Surname", required)
                    div
                        input(type="text", name="job_title", id="job_title", placeholder="Job title", required)
                    div
                        input(type="text", name="expert", id="expert", placeholder="Expert skills...")
                    div
                        input(type="text", name="intermediate", id="intermediate", placeholder="Intermediate skills...")
                    div
                        input(type="text", name="basic", id="basic", placeholder="Basic skills...")
                    div Available now?
                        input(type="checkbox", name="availability", id="availability")
                    div Available for
                        br
                        select(name="equality", id="equality")
                            option() More than
                            option() Less than
                            option() Exactly
                        select(name="num", id="num")
                            option() 1
                            option() 2
                            option() 3
                            option() 4
                            option() 5
                            option() 6
                            option() 7
                            option() 8
                            option() 9
                            option() 10
                            option() 11
                            option() 12
                            option() 13
                            option() 14
                            option() 15
                            option() 16
                            option() 17
                            option() 18
                            option() 19
                            option() 20
                        select(name="unit", id="unit")
                            option() Days
                            option() Weeks
                            option() Months
                div.button-container
                    div
                        input(type="submit", value="Add Team Member")
        div.team-members-container
            table
                tr
                    td
                        span Name
                    td
                        span Skills &amp; Ability Levels
                    td
                        span Job Description
                    td
                        span Availability
                    td
                        span Action

                each member in team_members
                    tr
                        td(valign="top")
                            span #{member.data.surname}, #{member.data.first_name}
                        td.skills(valign="top")
                            span.skill-header Expert
                            br
                            span.
                                #{member.data.expert}
                            br
                            span.skill-header Intermediate
                            br
                            span.
                                #{member.data.intermediate}
                            br
                            span.skill-header Basic
                            br
                            span.
                                #{member.data.basic}
                        td(valign="top")
                            span #{member.data.job_title}
                        td(valign="top")
                            span #{member.data.availability}
                        td(valign="top")
                            input(type="button",value="Manage")

    else
        div.error-message-box
            p.
                You must be logged in to use this page.