extends layout
block content
    if session.user
        div.add-person-container
            p.header Add Team Member
            form(name="add", id="add", action="/mypeople/add_team_member", method="post")
                div.fields-container
                    div
                        input(type="text", name="first_name", id="first_name", placeholder="First name", required)
                    div
                        input(type="text", id="surname", name="surname", placeholder="Surname", required)
                    div
                        input(type="text", name="job_title", id="job_title", placeholder="Job title", required)
                    div
                        input(type="text", name="expert", id="expert", placeholder="Expert skills...")
                    div
                        input(type="text", name="intermediate", id="intermediate", placeholder="Intermediate skills...")
                    div
                        input(type="text", name="basic", id="basic", placeholder="Basic skills...")
                    div Available now?
                        input(type="checkbox", name="availability", id="availability")
                div.button-container
                    div
                        input(type="submit", value="Add Team Member")
        div.team-members-container
            table
                tr
                    td
                        span ID
                    td
                        span Name
                    td
                        span Skills &amp; Ability Levels
                    td
                        span Job Description
                    td
                        span Availability
                    td
                        span Availability Date
                    td
                        span Action

                each member in team_members
                    tr
                        td
                            span -
                        td
                            span #{member.data.surname}, #{member.data.first_name}
                        td
                            span -
                        td
                            span #{member.data.job_title}
                        td
                            span #{member.data.availability}
                        td
                            span #{member.data.first_name}
                        td
                            span Something

    else
        div.error-message-box
            p.
                You must be logged in to use this page.